cakephp/tmp/debug_kit.sqlite
cakephp/tmp/sessions/*
!cakephp/tmp/sessions/empty

cakephp/tmp/tests/*
!cakephp/tmp/tests/empty

cakephp/tmp/cache/*

cakephp/tmp/cache/models/*
!cakephp/tmp/cache/models/empty

cakephp/tmp/cache/persistent/*
!cakephp/tmp/cache/persistent/empty

cakephp/tmp/cache/views/*
!cakephp/tmp/cache/views/empty

cakephp/logs/*
!cakephp/logs/empty

cakephp/vendor/*
!cakephp/vendor/empty

.DS_Store
